<!DOCTYPE HTML>
<html>
<head>
    <title>BUS chat</title>
    <link rel="stylesheet" type="text/css" href="static/css.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="static/js.js"></script>
</head>
<body>
    <h1>COOL BUS</h1>
    <p>Async mode is: <b>{{ async_mode }}</b>
    Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <hr>
    <ol id="log" style="list-style-type:none">
    {% for item in hist %}
        <li>{{item.rstrip('\n')}}</li>
    {% endfor %}
    </ol>
    <h2>Send:</h2>
    <form id="broadcast" method="POST">
	<input type="text" name="name" id="name" placeholder="Name" autocomplete="off">
        <input type="text" name="message" id="message" placeholder="Message" autocomplete="off">
	<input type="submit" value="send">
    </form>
</body>
</html>
